<div class="row">
  <div class="span6 offset6">
      <% if flash[:alert] %>
          <p id="notice"><%= flash[:alert] %></p>
      <% end %>

      <%= form_tag('/login') do %>
          <fieldset>
            <legend>Please Log In</legend>

            <div class="field">
              <%= label_tag :nickname, 'Name:' %>
              <%= text_field_tag :nickname, params[:nickname] %>
            </div>

            <div class="field">
              <%= label_tag :password, 'Password:' %>
              <%= password_field_tag :password, params[:password] %>
            </div>

            <div class="field">
              <%= submit_tag "Login", :class => "btn btn-large btn-primary" %>
            </div>
          </fieldset>
      <% end %>

      <p>New user? <%= link_to "Sign Up now!", new_user_path %></p>
  </div>
</div>