<%= render 'layouts/header' %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table">
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.avatar.url(:thumb) %></td>
    <td><%= link_to user.nickname, user %></td>
    <td>
      <% unless current_user?(user) %>
        <div id="follow_form">
          <% if current_user.following?(user) %>
              <%= form_for(current_user.connections.find_by_followed_id(user),
                           html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow", class: "btn btn-large" %>
              <% end %>
          <% else %>
              <%= form_for(current_user.connections.build(followed_id: user.id)) do |f| %>
                  <div><%= f.hidden_field :followed_id %></div>
                  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </td>
  </tr>
  <% end %>
</table>
